* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
}

.link {
  text-decoration: none;
  color: #ff8a65;
  transition: 0.3s;
  border-radius: 0.2em;
}

.link:hover {
  color: #ff7043;
  background-color: #64646413;
}

.iron-man-pic {
  filter: drop-shadow(16px 16px 10px rgb(14, 8, 8));

  animation: scale-up-center 2.3s cubic-bezier(0.39, 0.575, 0.565, 1) infinite
    alternate-reverse both;
}

@keyframes scale-up-center {
  0% {
    transform: translate(0%, -5%);
    filter: drop-shadow(16px 16px 10px rgb(25, 25, 51));
  }
  100% {
    transform: translate(0%, 1%);
    filter: drop-shadow(16px 16px 10px rgb(14, 8, 8));
  }
}
