* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
}

.link {
  text-decoration: none;
  color: #ff8a65;
  transition: 0.3s;
  border-radius: 0.2em;
}

.link:hover {
  color: #ff7043;
  background-color: #64646413;
}
